{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
            <!-- <div class="container"> -->
                <form method="POST" action="{% url 'register' %}">
          {% csrf_token %}
                    <h1><span>Re</span>gistration</h1>
                    <div class="boxes">
                            <div class="label">
                                <label>First Name</label><br>
                                <input placeholder="Enter your name" type="text" name="firstname"/>
                            </div>
                            <div class="label">
                                <label for="">Last Name</label><br>
                                <input type="text" name="lastname"  placeholder="Enter your Username"/>

                            </div>
                        </div>
                    <div class="boxes">
                            <div class="label">
                                    <label for="">User Name</label><br>
                                    <input type="text" placeholder="Enter your email" name="username"/>
                            </div>

                            <div class="label label-2">
                                        <label for="">Email</label><br>
                                        <input type="email" name="email" placeholder="Enter your phonenumber"/>
                            </div>

                        </div>

                        <div class="label">
                         <label class="gen ">Passsword</label><br>
                         <input name="password" placeholder="password" class="gen" type="password"/> 
                         </div>
                                {% if messages %}
                                <br><span id="error" style="color: red; border-bottom: unset;">{{messages}}</span>
                                {% endif %}
                         <button type="submit"><b>Registered</b></button>

                         <P class="foot">Do you have Account ?<a href="/signin" class="register">Sign in</a></P>

            </form>
            <script>
                   
                var error = document.getElementById('error').textContent
                

              window.onload = function() {
                 
            if (error == "Username already exists! Please choose another.'") {
                console.log(error)
                console.log("the eror messages to")
                error.style.display = "none";
                // alert("hello ");
            }
        };

            </script>
    </body>

</html>